<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="index.handlebars">Mongo Scraper</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="index.handlebars">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="saved.handlebars">Saved Articles</a>
  </li>
</ul>

<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Mongo Scraper</h1>
      <p class="lead">HuffPost Edition</p>
    </div>
  </div>


  {{#if article}}
      {{#each article}}
        <div class="card">  
          <h5 class="card-header"></h5>
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <a href="{{this.link}}">
              <p class="card-text">Read Article</p>
            </a>
           <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
          </div>
        </div>
      {{/each}}
    {{else}}  
      <h4>Oops. Looks like we don't have any new articles</h4>
    {{/if}}  
</div>  